---
layout: archive
---
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KS7VSZM6KM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KS7VSZM6KM');
</script>
</head>


{{ content }}
<br>
I am a second-year Master of Science in Economics student at University of Wisconsin - Madison. I hold a B.S in Economics from the Pennsylvania State University, and I am interested in International Economics and Industrial Organization.
</div>

{% include paginator.html %}
